@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatAppBarTitle>Clockwerkz</MatAppBarTitle>
                <NavLink class="text-white nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
                <NavLink class="text-white nav-link" href="jobs">
                    Jobs
                </NavLink>
                <NavLink class="text-white nav-link" href="counter">
                    Counter
                </NavLink>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent Style="width: 100vw; height: 100%">
        <div class="container">
            @Body
        </div>
    </MatAppBarContent>
</MatAppBarContainer>